---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<strong>&mdash;I don't work here.&mdash;</strong>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		But I might work for you!
		<a href="mailto:admin@uzzi.ca?Subject=Serious Inquiry" target="_top">admin@uzzi.ca</a>
			<div class="latex4000Webring">
				<a href="https://nonacademic.net" title="Collective">Latex 4000</a>
				<div class="latex4000WebringButtons">
					<a href="https://nonacademic.net/ring?action=prev&amp;from=uzzi" title="Previous">←</a>
					<a href="https://nonacademic.net/ring?action=rand&amp;from=uzzi" title="Random">Random</a>
					<a href="https://nonacademic.net/ring?action=next&amp;from=uzzi" title="Next">→</a>
				</div>
			</div>
	</body>
</html>
